 
.navbar {
  width: 100%;            
  height: 60px;           
  background: #2c3e50;    
  display: flex;          
  align-items: center;    
  padding: 0 20px;        
  position: fixed;        
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;         
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;          
  margin-left: auto;     
  padding: 0;
}

.menu li {
  margin-left: 30px;      
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.menu a:hover {
  color: #1abc9c;
}
